<div
  style="
    min-width: 500px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  "
>

  <div style="overflow-y: scroll; height: 100%">
    <!-- <div>
      <scroll-sentinel element-class="custom-cmd-header"></scroll-sentinel>
      <div
        class="light-bg sticky-top custom-cmd-header"
        style="
          padding: 15px;
          margin: 50px 30px 15px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        "
      >
        <button
          ng-click="openAddOrEditCustomCommandModal()"
          class="btn btn-primary hvr-icon-grow"
        >
          <i class="fas fa-plus-circle hvr-icon" style="margin-right: 5px"></i>
          New Blacklisted Words
        </button>

      </div> -->
      <div style="margin: 50px 30px 15px;display: flex;flex-direction: row;justify-content: space-between;">
        <button
        ng-click="openAddOrEditCustomCommandModal()"
        class="btn btn-primary hvr-icon-grow"
        >
        <i class="fas fa-plus-circle hvr-icon" style="margin-right: 5px"></i>
        New Blacklisted Words
      </button>
    </div>
      <div style="padding: 15px">
        <!-- <div style="display: flex;flex-wrap: wrap;"> -->
          <div class="moderation-feature-block" style="margin-top: 15px;width: 80%;">
            <div class="content-block-body">
              <div class="title-toggle-button-container" style="flex-wrap: nowrap;">
                <div class="col-md-1">
                  <span class="hvr-bob"><i class="fal fa-minus-circle" style="font-size: 8em;"></i></span>
                </div>
                <div class="toggle-button-container"  style="width: 80%;text-align: left;">
                  <p style="font-size: 2em;" class = "bgweight">
                    Blacklisted Words
                  </p>
                  <span class="bgfontcolor">
                    By blacklisting certain words and phrases, you can remove specific unwanted behavior from your chat.
                  </span>
                </div>
              </div>         
            </div>
          </div>
        <!-- </div> -->

        <table
        class="fb-table"
        >
        <!-- <table
          ng-show="commandsService.getCustomCommands().length > 0 && (filteredCommands == null || filteredCommands.length > 0)"
          class="fb-table"
        > -->
          <thead>
            <tr style="font-size: 11px; color: white;">
              <th style="text-align: left;padding-left: 15px;">PHRASE</th>
              <th> TIME OUT</th>
              <th> STAUS</th>
              <th> EDIT</th>
              <th> DELETE</th>
            </tr>
          </thead>
          <tbody
            ui-sortable="sortableOptions"
            ng-model="commandsService.commandsCache.customCommands"
          >
            <tr
              ng-repeat="command in (commandsService.commandsCache.customCommands | sortTagSearch:sts.getSelectedSortTag('commands') | triggerSearch:commandsService.customCommandSearch) as filteredCommands track by command.id"
              context-menu="commandMenuOptions(command)"
              style="width: 100%"
            >
              <!-- phrase -->
              <td style="text-align: left;padding-left: 15px;">
                <span>
                  {{command.trigger}}
                </span>
              </td>
              <!-- intervel -->
              <td class="command-trigger-cell">
                <span
                  class="trigger"
                  uib-tooltip="{{command.trigger}}"
                  tooltip-popup-delay="500"
                  tooltip-append-to-body="true"
                  >{{command.effects.list[0].time + " seconds"}}</span
                >
                <tooltip
                  ng-if="command.triggerIsRegex"
                  text="'Description: ' + command.regexDescription"
                ></tooltip>
                <span
                  class="muted"
                  style="margin-left: 5px; font-size: 11px"
                  ng-show="command.hidden"
                  uib-tooltip="Hidden from !commands list"
                  tooltip-append-to-body="true"
                >
                  <i class="fas fa-eye-slash"></i>
                </span>
              </td>
              <!-- status -->
              <td>
                <input class="tgl tgl-light" id="{{command.id}}" type="checkbox" 
                    ng-model="command.active" ng-click="changeCommandActive(command)"/>
                <label class="tgl-btn" for="{{command.id}}" style="top: 2px"></label>
              </td>
              <!-- edit -->
              <td>
                <span
                class="noselect clickable"
                ng-click ="openAddOrEditCustomCommandModal(command)"
                >
                <i class="fas fa-pen" style="margin-right: 10px;"></i>
                </span>
              </td>
              <!-- delete -->
              <td>
                <span
                class="noselect clickable"
                style="padding-left: 12px"
                ng-click ="deleteCustomCommand(command)"
                >
                <i class="far fas fa-times" style="margin-right: 10px;"></i>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
        <div ng-if="commandsService.commandsCache.customCommands.length === 0" class="kol-none-box" style="height: 272px;margin: 0 15px;">
            <p style="font-size: 28px;">NONE</p>
        </div>
      </div>
    </div>
  </div>
</div>
