.ag-theme-material {
    background-color: transparent !important;
    .ag-paging-panel {
        border-top: 0px !important;
    }
}

.ag-header-row {
    width: 100% !important;
}

.ag-body {
    .ag-body-container {
        width: 100% !important;
        box-shadow: 1px 1px 5px #dedede !important;
        background-color: white !important;
        .eLabel {
            font-size: 11px;
            color: #25292a;
            opacity: 0.5;
        }
    }
}

.viewer-detail-data {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 30px;
    .detail-data {
        display: flex;
        flex-direction: column;
        //align-items: center;
        //margin-bottom: 30px;
        .data-title {
            font-size: 12px;
            opacity: 0.7;
            text-transform: uppercase;
        }
        .data-point {
            font-size: 18px;
            display: flex;
            align-items: center;
            .edit-data-btn {
                margin-left: 4px;
                font-size: 9px;
            }
        }
    }
}

/*
.bounce-spinner {
    width: 40px;
    height: 40px;

    position: relative;
    margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #EBB11F;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2s infinite ease-in-out;
    animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {
    0%,
    100% {
        -webkit-transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
    }
}

@keyframes sk-bounce {
    0%,
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    50% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}
*/

.bubble-spinner {
    width: 70px;
    text-align: center;
}

.bubble-spinner > div {
    width: 18px;
    height: 18px;
    background-color: #9145ff;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.bubble-spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.bubble-spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
    }
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.kol-top-chart-table {
    width: 600px;
    padding: 30px 15px 15px 15px
}
table.kol-fb-table {
    width: 100%; }
table.kol-fb-table thead {
    margin-bottom: 10px; }
table.kol-fb-table tbody {
    display: block;
    height: 450px;
    overflow-y: overlay; }
table.kol-fb-table thead, table.kol-fb-table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;}
table.kol-fb-table td {
    height: 45px; }
table.kol-fb-table tbody tr {
    box-shadow: none;
    background: #43454A; }
table.kol-fb-table tbody tr:hover {
    background: #2f3033;
}

table.kol-fb-table tbody .topchart-avatar {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    display: inline-block;
    margin: 0 3px 1px 0; }

.kol-top-chart-table td, .kol-top-chart-table th {
    text-align: center; 
    vertical-align: middle;
}

.kol-top-chart-table table.kol-fb-table tbody tr:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
.kol-top-chart-table table.kol-fb-table tbody tr:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }
.kol-top-chart-table table.kol-fb-table tbody tr:first-child td:first-child{
    border-top-left-radius: 5px; }
.kol-top-chart-table table.kol-fb-table tbody tr:first-child td:last-child{
    border-top-right-radius: 5px; }
.kol-top-chart-table table.kol-fb-table tbody tr:last-child td:first-child{
    border-bottom-left-radius: 5px; }
.kol-top-chart-table table.kol-fb-table tbody tr:last-child td:last-child{
    border-bottom-right-radius: 5px; }

.kol-top-chart-table table.kol-fb-table tbody tr:nth-child(1) td:first-child span {
    padding: 0px 5px;
    border: 2px solid gold;
    color: gold; }
.kol-top-chart-table table.kol-fb-table tbody tr:nth-child(2) td:first-child span {
    padding: 0px 5px;
    border: 2px solid silver;
    color: silver; }
.kol-top-chart-table table.kol-fb-table tbody tr:nth-child(3) td:first-child span {
    padding: 0px 5px;
    border: 2px solid #d56a13;
    color: #d56a13; }
