<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"
            ng-click="$ctrl.dismiss()"><i style="color: #9145ff;font-size: 30px" class="fa fa-times-circle"></i></span></button>
    <h4 class="modal-title" id="newCooldownGroupLabel" ng-if="!$ctrl.isNewKolPoll">{{ 'POLL.MODAL.TITLE.EDIT_POLL' | translate }} - {{ $ctrl.kolPoll.title }}</h4>
    <h4 class="modal-title" id="newCooldownGroupLabel" ng-if="$ctrl.isNewKolPoll">{{ 'POLL.MODAL.TITLE.ADD_NEW_POLL' | translate }}</h4>
</div>
<div class="modal-body">
    <div class="general-button-settings">
        <div class="form-group">
            <div class="settings-commandGroup-groupName">
                <span style="font-size:16px;">
                    <i class="fa fa-pencil" style="margin-right: 5px;"></i>
                    {{ 'POLL.MODAL.BODY.NAME' | translate}}
                    <tooltip style="font-size: 14px;" text = "$ctrl.translations['POLL.MODAL.BODY.NAME_TOOLTIP']"></tooltip>
                </span>
            </div>
            <div class="settings-commandGroup-groupName">
                <input type="text" class="form-control" ng-model="$ctrl.kolPoll.title" placeholder="{{$ctrl.translations['POLL.MODAL.BODY.NAME_TOOLTIP']}}">
            </div>
        </div>
        <div class="form-group">
            <div class="settings-commandGroup-groupName">
                <span style="font-size:16px;">
                    <i class="fa fa-clock-o" style="margin-right: 5px;"></i>
                    {{ 'POLL.MODAL.BODY.DURATION' | translate}}
                    <tooltip style="font-size: 14px;" text = "$ctrl.translations['POLL.MODAL.BODY.DURATION_TOOLTIP']"></tooltip>
                </span>
            </div>
            <div class="input-group settings-commandGroup-timer" style="display:flex;flex:1;">
                <input type="number" class="form-control" ng-model="$ctrl.kolPoll.duration" placeholder="{{$ctrl.translations['POLL.MODAL.BODY.DURATION_PLACEHOLDER']}}" >
                <!-- <span class="input-group-addon">secs</span> -->
            </div>
        </div>
        <div>
            <div class="settings-commandGroup-timer" style="margin-top: 10px;">
                <span>
                    <i class="fa fa-check-square" style="margin-right: 5px;"></i>
                    {{ 'POLL.MODAL.BODY.OPTIONS' | translate}}
                    <tooltip style="font-size: 14px;" text = "$ctrl.translations['POLL.MODAL.BODY.OPTIONS_TOOLTIP']"></tooltip>
                    <!-- <i style="margin-left: 5px; color: #9145ff"
                        ng-if="$ctrl.kolPoll.choices.length < 5" class="fa fa-plus-circle" style="margin-right:5px;"
                        ng-click="$ctrl.addNewPollOption()"></i></span> -->
                <!-- <span style="margin-left: 10px;color: red;" ng-if="$ctrl.kolPoll.choices.length == 5">You can only have up
                    to 5 choices</span> -->
            </div>
            <div class="{{$index > 1?'input-group':''}} settings-commandGroup-timer" style="margin: 5px 0 5px;"
                ng-repeat="choice in $ctrl.kolPoll.choices track by $index">
                <input type="text" class="form-control" ng-model="choice.title"
                    placeholder="{{ 'POLL.MODAL.BODY.OPTIONS_PLACEHOLDER_PREFIX' | translate}}-{{$index+1}}{{ 'POLL.MODAL.BODY.OPTIONS_PLACEHOLDER_SUFFIX' | translate}}">
                <span class="input-group-addon" ng-if="$index > 1" ng-click="$ctrl.removeOption($index)"><i
                        class="fa fa-trash"></i></span>
            </div>
            <i style="margin-left: 5px; color: #9145ff"
            ng-if="$ctrl.kolPoll.choices.length < 5" class="fa fa-plus-circle" style="margin-right:5px;"
            ng-click="$ctrl.addNewPollOption()"></i></span>
            <div class="settings-commandGroup-groupName" style="margin-top: 10px;">
                <span style="font-size:16px;">
                    <i class="fa fa-cog" style="margin-right: 5px;"></i>
                    {{ 'POLL.MODAL.BODY.ALLOW_ADDITIONAL_VOTES' | translate}}
                </span>
            </div>
            <div class="controls-fb-inline" style= "margin-top: 5px;">
                <label class="control-fb control--checkbox"
                  >{{ 'POLL.MODAL.BODY.BITS_PER_VOTE' | translate}}
                  <input
                    type="checkbox"
                    ng-model="$ctrl.kolPoll.bits_voting_enabled"
                    aria-label="..."
                    checked
                  />
                  <tooltip style="font-size: 14px;" text = "$ctrl.translations['POLL.MODAL.BODY.BITS_PER_VOTE_TOOLTIP']"></tooltip>
                  <div class="control__indicator"></div>
                </label>
                <input type="number" class="form-control" ng-model="$ctrl.kolPoll.bits_per_vote"
                placeholder="{{$ctrl.translations['POLL.MODAL.BODY.BITS_PER_VOTE_PLACEHOLDER']}}"/>
            </div>
            <div class="controls-fb-inline" style= "margin-top: 5px;">
                <label class="control-fb control--checkbox"
                  >{{ 'POLL.MODAL.BODY.CHANNEL_POINTS_PER_VOTE' | translate}}
                  <input
                    type="checkbox"
                    ng-model="$ctrl.kolPoll.channel_points_voting_enabled"
                    aria-label="..."
                    checked
                  />
                  <tooltip style="font-size: 14px;" text = "$ctrl.translations['POLL.MODAL.BODY.CHANNEL_POINTS_PER_VOTE_TOOLTIP']"></tooltip>
                  <div class="control__indicator"></div>
                </label>
                <input type="number" class="form-control" ng-model="$ctrl.kolPoll.channel_points_per_vote"
                placeholder="{{$ctrl.translations['POLL.MODAL.BODY.CHANNEL_POINTS_PER_VOTE_PLACEHOLDER']}}"/>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-link" ng-click="$ctrl.dismiss()">{{ 'CANCEL' | translate}}</button>
    <button type="button" class="btn btn-primary" ng-click="$ctrl.save()">{{ 'SAVE' | translate}}</button>
</div>

