<div style="margin: 50px 30px 15px;display: flex;flex-direction: row;justify-content: space-between;">
    <button ng-click="openEditKolPollSettingsModal()" class="btn btn-primary"><i class="fa fa-plus-circle"
            style="margin-right:5px;"></i> {{ 'NEW' | translate }} {{ 'SIDEBAR.INTERACTIVETOOL.POLL' | translate }} </button>
    <!-- <searchbar ng-show="kolPollService.getKolPolls().length > 0" placeholder-text="Search kolPolls"
        query="kolPollSearch" style="flex-basis: 250px;"></searchbar> -->
</div>
<div style="padding: 15px;display: flex;flex-wrap: wrap;">
    <div class="moderation-feature-block" style="margin-top: 15px;width: 80%;">
        <div class="content-block-body">
            <div class="title-toggle-button-container" style="flex-wrap: nowrap;">
                <div class="col-md-1">
                    <span class="hvr-bob"><i class="fa fa-bar-chart" style="font-size: 8em;"></i></span>
                </div>
                <div class="toggle-button-container" style="width: 80%;text-align: left;">
                    <p style="font-size: 2em;"  class = "bgweight">
                        {{ 'SIDEBAR.INTERACTIVETOOL.POLL' | translate }}
                    </p>
                    <p>
                        <span class="bgfontcolor">{{ 'POLL.DESC' | translate }}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <table class="fb-table">
        <thead>
            <tr style="font-size: 11px;">
                <th style="padding-left: 15px;width: 25%">{{ 'POLL.TABLE.HEADER.NAME' | translate }}</th>
                <th>{{ 'POLL.TABLE.HEADER.DURATION' | translate }}</th>
                <th>{{ 'POLL.TABLE.HEADER.OPTIONS' | translate }}</th>
                <th>{{ 'POLL.TABLE.HEADER.VIEW' | translate }}</th>
                <th>{{ 'POLL.TABLE.HEADER.ACTION' | translate }}</th>
                <th>{{ 'POLL.TABLE.HEADER.EDIT' | translate }}</th>
                <th>{{ 'POLL.TABLE.HEADER.DELETE' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="kolPoll in kolPollService.getKolPolls() | filter:kolPollSearch track by kolPoll.id"
                context-menu="kolPollMenuOptions">
                <td style="padding-left: 15px;">{{kolPoll.title}}</td>
                <td>
                    {{kolPoll.duration}} {{ 'POLL.TABLE.BODY.SEC' | translate }}
                </td>
                <td>
                    {{getPollOptionsStrings(kolPoll)}}
                </td>
                <td>
                    <i class="fa fa-eye" style="font-size: 2em;" ng-click="viewKolPollResult(kolPoll)"></i>
                </td>
                <td>
                    <div style="text-align: left;">
                        <!-- <div class="btn-group" style="margin-right: 20px;">
                            <label class="btn {{kolPoll.is_active?'btn-success':'btn-default'}}"
                                ng-click="setPollEnable(kolPoll)" ng-model="kolPoll.is_active" uib-btn-radio="'ON'"
                                uncheckable>On</label>
                            <label class="btn {{!kolPoll.is_active?'btn-success':'btn-default'}}"
                                ng-click="setPollDisable(kolPoll)" ng-model="kolPoll.is_active" uib-btn-radio="'OFF'"
                                uncheckable>OFF</label>
                        </div> -->
                        <div class="toggle-button-container" style="width:auto ;"
                            ng-if="kolPoll.twitchPoll == null || (kolPoll.twitchPoll && kolPoll.twitchPoll.status == 'ACTIVE')">
                            <input class="tgl tgl-light" id="{{ kolPoll.id }}" type="checkbox"
                                ng-model="kolPoll.is_active"
                                ng-click="togglePollStatus(kolPoll)"/>
                            <label class="tgl-btn" for="{{ kolPoll.id }}" style="top: 2px"></label>
                        </div>
                        <div class="toggle-button-container" style="width:auto ;"
                            ng-if="kolPoll.twitchPoll && kolPoll.twitchPoll.status != 'ACTIVE'">
                            <!-- finished -->
                            <input class="tgl tgl-light" id="{{ kolPoll.id }}" type="checkbox"
                            ng-model="kolPoll.is_active" 
                            ng-click="togglePollStatus(kolPoll)"/>
                            <label class="tgl-btn" for="{{ kolPoll.id }}" style="top: 2px"></label>
                        </div>
                    </div>
                </td>
                <td>
                    <!-- <span style="margin-right:20px;"><i class="fa fa-repeat"
                            style="margin-right: 5px;"></i><span>REDO</span></span> -->
                    <span style="margin-right:20px;" ng-click="openEditKolPollSettingsModal(kolPoll)"><i class="fa fa-pencil"
                            style="margin-right: 5px;"></i></span>
                </td>
                <td>
                    <span ng-click="delete(kolPoll)"><i class="fa fa-times"
                            style="margin-right: 5px; padding-left: 12px;"></i></span>
                </td>
            </tr>
        </tbody>
    </table>

    <div ng-if="kolPollService.getKolPolls().length === 0" class="kol-none-box" style="height: 272px;margin: 0 15px; width:100%;">
        <p style="font-size: 28px;">NONE</p>
    </div>
</div>
