<div class="modal-body">
    <div ng-hide="$ctrl.dataLoaded" style="height: 150px;display: flex;align-items: center;justify-content: center;">
        <div class="bubble-spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <form ng-show="$ctrl.dataLoaded" name="streamInfo">
        <div class="form-group" ng-class="{'has-error': $ctrl.formFieldHasError('title')}">
            <label for="title" class="control-label">Stream Title</label>
            <input 
                type="text" 
                id="title" 
                name="title"
                required 
                class="form-control input-lg btn-default"
                placeholder="Give your stream a title" 
                ng-model="$ctrl.streamInfo.title" 
            />
        </div>

        <div class="form-group" style="margin-bottom:0;">
            <label for="game" class="control-label">Category</label>
            <ui-select ng-model="$ctrl.selectedGame" required input-id="game" theme="bootstrap" spinner-enabled="true" on-select="$ctrl.gameSelected($item)">
                <ui-select-match placeholder="Search for category...">
                    <div style="height: 25px; display:flex; flex-direction: row; align-items: center;">
                        <img style="height: 21px; width: 21px; border-radius: 5px; margin-right:5px;" ng-src="{{$select.selected.boxArtUrl}}">
                        <div style="font-weight: 100;font-size: 17px;">{{$select.selected.name}}</div>
                    </div>
                </ui-select-match>
                <ui-select-choices minimum-input-length="1" repeat="game in $ctrl.games | filter: $select.search" refresh="$ctrl.searchGames($select.search)" refresh-delay="200" style="position:relative;">
                    <div style="height: 35px; display:flex; flex-direction: row; align-items: center;">
                        <img style="height: 30px; width: 30px; border-radius: 5px; margin-right:10px;" ng-src="{{game.boxArtUrl}}">
                        <div style="font-weight: 100;font-size: 17px;">{{game.name}}</div>
                    </div>                                  
                </ui-select-choices>
            </ui-select>
        </div>
        
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$ctrl.dismiss()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="$ctrl.save()">Save</button>
</div>