<div class="chat-window-column" style="border-radius: 0">
    <div class="chat-window-wrapper" style="background: #24262A;">
        <div ng-hide="chatFeedIsEnabled" class="chatfeed-disabled-overlay" style="background: #24262A;">
            <span style="color: white; font-size: 1.2em; text-align: center">{{disabledMessage}}</span>
        </div>
        <button ng-hide="scrollGlued" ng-click="scrollGlued = true" class="btn-sm clickable" style="
            position: absolute;
            bottom: 0px;
            left: 50%;
            transform: translateX(-50%);
            margin-bottom: 10px;
            background: rgba(104, 105, 108, 0.6);
            border: none;
            color: white;
            z-index: 100;
            ">
            Chat Paused Due to Scroll
        </button>
        <div class="chat-window" ng-init="scrollGlued = true" scroll-glue="scrollGlued" style="{{customFontSizeStyle}} border-left: none">
            <div ng-repeat="chatItem in cms.chatQueue | limitTo:messageDisplayLimit track by chatItem.id" class="chat-item"
            ng-class="{ alternate: alternateBackgrounds}" scroll-glue-anchor>
            <chat-message ng-if="chatItem.type === 'message'" message="chatItem.data" compact-display="compactDisplay"
                alternate-backgrounds="alternateBackgrounds" hide-deleted-messages="hideDeletedMessages"
                show-avatar="showAvatars" show-timestamp="showTimestamps" show-third-party-emotes="showThirdPartyEmotes"
                show-pronoun="showPronouns" update-chat-input="updateChatInput(text)"
                chat-size-style="{{customFontSizeStyle}}" />
            <reward-redemption ng-if="chatItem.type === 'redemption'" redemption="chatItem.data" />
            <chat-alert ng-if="chatItem.type === 'alert'" message="chatItem.data" />
            </div>
        </div>
    </div>
    <div class="text-input-wrapper">
        <div class="text-input" chat-auto-complete-menu ng-model="chatMessage" input-id="chatMessageInput">
          <!-- <div class="dropup"> -->
            <!-- <span class="dropdown-toggle chatter-dropdown" data-toggle="dropdown" uib-tooltip="Chat as"
              tooltip-placement="left" tooltip-append-to-body="true"> -->
            <!-- <span class="dropdown-toggle chatter-dropdown" 
              tooltip-placement="left" tooltip-append-to-body="true">
              <span style="width: 100%; text-align: center">{{chatSender}}</span> -->
              <!-- <span style="margin-left: 10px; width: 100%; text-align: center">{{chatSender}}</span> -->
              <!-- <div class="fb-arrow down" style="margin-left: 10px; margin-right: 10px; margin-bottom: 3px"></div> -->
            <!-- </span>
            <ul class="dropdown-menu">
              <li ng-click="chatSender = 'Streamer'"><a href>Streamer</a></li>
              <li ng-click="chatSender = 'Bot'" ng-show="botLoggedIn">
                <a href>Bot</a>
              </li>
            </ul>
          </div>  -->
  
          <input id="chatMessageInput" type="text" placeholder="Message the stream" class="text-input-field"
            style="height: 100%;padding-right: 55px;" ng-maxlength="360" ng-model="chatMessage" ng-change="onMessageFieldUpdate()"
            ng-keydown="onMessageFieldKeypress($event)" ng-trim="false" ng-disabled="!chatFeedIsEnabled()" />
        </div>
        <div class="settings-btn-wrapper">
            <button class="settings-btn" ng-click="showKolChatEmotesModal()" aria-label="Chat Settings" >
              <i class="fal fa-smile"></i>
            </button>
        </div>
        <!-- <div class="settings-btn-wrapper">
          <button class="settings-btn" ng-click="showChatSettingsModal()" aria-label="Chat Settings">
            <i class="fal fa-cog"></i>
          </button>
        </div> -->
      </div>
</div>
