<div style="margin: 50px 30px 15px;display: flex;flex-direction: row;justify-content: space-between;">
    <button ng-click="openEditKolTimerSettingsModal()" class="btn btn-primary"><i class="fas fa-plus-circle"
            style="margin-right:5px;"></i> New Timer</button>
    <!-- <searchbar ng-show="kolTimerService.getKolTimers().length > 0" placeholder-text="Search kolTimers"
        query="kolTimerSearch" style="flex-basis: 250px;"></searchbar> -->
</div>
<div style="padding: 15px;display: flex;flex-wrap: wrap;">
    <div class="moderation-feature-block" style="margin-top: 15px;width: 80%;">
      <div class="content-block-body">
        <div class="title-toggle-button-container" style="flex-wrap: nowrap;">
          <div class="col-md-1">
            <span class="hvr-bob"><i class="fal fa-alarm-clock" style="font-size: 8em;"></i></span>
          </div>
          <div class="toggle-button-container"  style="width: 80%;text-align: left;">
            <p style="font-size: 2em;" class = "bgweight">
                Timer
            </p>
            <p>
                <span class="bgfontcolor">
                    You can use timers to post messages to your chat automatically. A timer will only be active while your chat is active, and will skip any that are unavailable.
                </span>
            </p>
          </div>
        </div>         
      </div>
    </div>
  </div>

<table class="fb-table">
    <thead>
        <tr style="font-size: 11px;">
            <th style="padding-left: 15px;width: 25%"></i> NAME</th>
            <th>INTERVEL</th>
            <th>STATUS</th>
            <th>EDIT</th>
            <th>DELETE</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="kolTimer in kolTimerService.getKolTimers() | filter:kolTimerSearch track by kolTimer.id"
            context-menu="kolTimerMenuOptions">
            <td style="padding-left: 15px;">{{kolTimer.name}}</td>
            <td>
                {{kolTimer.interval}} seconds
            </td>
            <td>
                <div class="toggle-button-container" style="width:auto ;">
                    <input class="tgl tgl-light" id="{{ kolTimer.id }}" type="checkbox" 
                        ng-model="kolTimer.active"
                        ng-click="toggleTimerStatus(kolTimer)"/>
                    <label class="tgl-btn" for="{{ kolTimer.id }}" style="top: 2px"></label>
                </div>
            </td>
            <td>
                <span style="margin-right:20px;" ng-click="openEditKolTimerSettingsModal(kolTimer)">
                    <i class="fas fa-pen" style="margin-right: 5px;"></i>
                </span>
            </td>
            <td>
                <div style="text-align: left; padding-left: 12px;">
                    <span ng-click="deleteKolTimer(kolTimer)">
                        <i class="fas fa-times" style="margin-right: 5px;"></i>
                    </span>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<div ng-if="kolTimerService.getKolTimers().length === 0" class="kol-none-box" style="height: 272px;margin: 0 15px;">
    <p style="font-size: 28px;">NONE</p>
</div>