<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"
            ng-click="$ctrl.dismiss()"><i style="color: #9145ff;font-size: 30px" class="fa fa-times-circle"></i></span></button>
    <h3 class="settings-title" ><span>{{$ctrl.resolve.kolPoll.title}}</span></h3>
</div>
<h3 class="settings-title" style="margin-top: 0px;" ng-show="$ctrl.loading " ><span style="margin-left: 20px;"><i class="fa fa-clock-o"></i> status:{{$ctrl.kolPollService.viewKolPollResult.leftTime > 0 ? $ctrl.kolPollService.viewKolPollResult.leftTime : "End"}}</span></h3>

<div class="modal-body">
    <div ng-repeat="choice in $ctrl.kolPollService.viewKolPollResult.choices track by $index">
        <!-- {{choice.title}} ;vote : {{choice.votes}} -->
        <div class="progress" style="background-color:rgb(105,200,140) ;">
            <span style="color:black; position: absolute;font-weight: bold;">{{choice.title}}</span>
            <div class="progress-bar" role="progressbar"
                aria-valuenow="$ctrl.getItemVoteRate(choice,$ctrl.kolPollService.viewKolPollResult)" aria-valuemin="0"
                aria-valuemax="100" style="background-color:#00f59c; width:{{$ctrl.getItemVoteRate(choice,$ctrl.kolPollService.viewKolPollResult)}}%;">
                <!-- {{$ctrl.getItemVoteRate(choice,$ctrl.kolPollService.viewKolPollResult)}}%({{choice.votes}}) -->
            </div>
            <span style="color:black; position: absolute;right: 20px;font-weight: bold;">{{$ctrl.getItemVoteRate(choice,$ctrl.kolPollService.viewKolPollResult)}}%({{choice.votes}})
        </div>
    </div>
</div>
